<section>
    <div class="home12-newsletter margin-top-50 margin-bottom-50">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-header center">
                        <h2>Maui and Sons Vibes.</h2>
                    </div>
                    <div class="covet-pics-gallery" data-id="17576"></div>
                </div>
            </div>
        </div><!-- /.container -->
</section><!-- /section -->
