<section>
<div class="home12-testimonial" style="background-image: url(//cdn.shopify.com/s/files/1/2088/5499/t/3/assets/testimonial_background.jpg?11611072392916718122)">
  
  
  <div class="container">
    <div class="padding-top-40 padding-bottom-60">
      <div class="section-header center">
        <h2 class="testimonial-header">Born in Maui. Raised in Cali.</h2>
      </div><!-- /.section-header -->
<!-- CUSTOM TEMPLATE HARDCODED -->
      <div class="section-customers ">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
                  <div class="col-md-12 col-sm-12 ">
                    <img src="https://cdn.shopify.com/s/files/1/2088/5499/files/0zOd4pQ.png?17134974636640282652" alt="">
                  </div>
                  <div class="col-md-12  col-sm-12">
                  <p>“California’s original surf and lifestyle brand since 1980. Maui and Sons embraces the surf culture and heritage of Hawaii and mixes it with the loud, neon and retro vibe of the 80’s through classic artwork and graphics for a modern twist on California style.“</p>
                    <h4 class="upper"></h4>
                    <p></p>
                  </div>
            </div>
          </div>
        </div><!-- /.customers-say-carousel -->
      </div>
    </div>
  </div>
</div>
</section>