<section>
    <div class="home12-newsletter margin-top-50 margin-bottom-50">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-header center">
                        <h3>For your chance to be featured on our website, tag</h3>
                        <h2>#mauiandsons</h2>
                        <h3>on Instagram. We love our fans!</h3>
                    </div>
                    <div class="covet-pics-gallery" data-id="17034"></div>
                </div>
            </div>
        </div><!-- /.container -->
</section><!-- /section -->
